body {
  padding-top:62px;
}

body, html {
  height:100%;
}

/* workaround modal-open padding issue */
body.modal-open {
    padding-right:0 !important;
}


#sidebar {
   padding-left:0;
}

/*
 * Off Canvas at medium breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 48em) {

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    height: 100%;
  }
}

/*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 34em) {
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -45%;
  }

  .row-offcanvas-left.active {
    left: 45%;
  }
  
  .sidebar-offcanvas {
    width: 45%;
  }
}


/* responsive nav stacked liked 3.x */
@media(max-width:34em) {
    .navbar .navbar-brand {
        float:none;
        display: block;
    }
    .navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    .navbar .navbar-nav {
        float:none !important;
    }
}

.card {
    overflow:hidden;
}

.card-block .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}

.card-block .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
}
.bg-primary {
    color: #fff!important;
    background-color: #141415 !important;
    border-color: #141415 !important;
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.4);

}
.btn-primary{
  background-color: #141415!important;
  border-color: #141415 !important;
}
.margin-right{
      margin-right: 7%;
}
.height{
  height: 560px;
}
.navbar-default .navbar-nav>li>a {
    letter-spacing: 2px;
}
.nav-text{
  letter-spacing: 2px;
  text-transform: uppercase;
}
a{
  text-decoration: none !important;
  outline: 0 !important;
  color: black;
}

h3 {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 28px;
}
p {
    font-family: 'Merriweather','Serif';
    font-size: 14px;
    line-height: 24px;
    color: #777;
    margin-bottom: 20px;
}
.auto-center{
      margin: 0 auto;
}
.text-center{
  text-align: center;
}
.book{
    margin: 3%;
    border: none;
}
@media (min-width: 1200px)
.features {
    padding: 20px 21px 0 130px;
}
@media (min-width: 992px)
.features {
    font-size: 0.875em;
    padding: 20px 1.5em 0 0;
    max-width: 100%;
    width: 100%;
    line-height: 1.5rem;
}
@media (min-width: 992px)
.hero h1 {
    font-weight: 700;
    text-align: left;
    margin-bottom: 16px;
}
@media (min-width: 768px)
.hero h1 {
    font-size: 60px;
}
.hero h1 {
    color: #2a2a2a;
    text-transform: uppercase;
    margin-bottom: 10px;
}
@media (min-width: 992px)
h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
}
h1 {
    font-size: 40px;
    font-weight: 800;
    margin: 0 0 15px;
}
@media (min-width: 992px)
.hero blockquote {
    border-left: 4px solid rgba(0, 0, 0, 0.1);
    margin-left: 4px;
    padding-left: 20px;
    margin: 0 0 50px;
}

.hero blockquote {
    padding-top: 0;
     border-left: 4px solid rgba(0, 0, 0, 0.1);
    font-size: 15px;
    padding-left: 30px;
    line-height: 30px;
    margin-bottom: 30px;
    position: relative;
    max-width: 100%;
    color: #666;
}


.hero blockquote {
    max-width: 492px;
}
#hero{
  text-align: left !important;
}

.hh5 {
    font-size: 16px;
    letter-spacing: 3px;
    margin-bottom: 50px;
}
.hero cite {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    font-style: normal;
    display: block;
    padding: 0.3125rem;
    margin-top: 30px;
}
.hero button.buy-now {
    max-width: 492px;
    margin: 0;
    margin-top: 6px;
}
.custom-button, .custom-button:focus {
    position: relative;
    background-color: #FDDC66;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 6px #d8bb51;
    padding: 10px;
    text-transform: uppercase;
    color: #4f482d;
    letter-spacing: 2px;
    outline: none;
    font-weight: 800;
    font-size: 18px;
    transition: .1s color;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
img{
      height: 338px !important;
}
.img{
      height: 138px !important;
}
.bill{
      margin-left: 55%;
}
.proceed{
        margin: 175px 418px;
    position: absolute;
}